{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
  />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'olt/favicon.ico' %}" />

</head>
<body onload="logPost()">
  {%include 'partials/_nav.html'%}
  
  <div class="col-sm-12 mb-3 mb-sm-0 mt-3">
    <div class="card">
      <div class="card-body bg-light">
        <h5 class="card-title text-white">Logs</h5>
        <p class="card-text text-white">
          <select class="m-2  bg-light text-white">
          <option onclick="logPost()" value="requisicoes">Registro das requisições</option>
          <option onclick="getRegistraProvisionamento()" value="provisionamento">Verificar log de provisionamento</option>
          <option onclick="getRegistraTrocaEquipamento()" value="troca-equipamento">Verificar log de troca de equipamento</option>
          <option onclick="getRegistraStatusDoCliente()" value="status-cliente">Verificar log de status do cliente</option>
          <option onclick="getRegistraBuscaCto()" value="verifica-caixa">Verificar log de verificação de caixa/primária</option>
          <option onclick="getRegistraVerificacaoSinal()" value="verificacao-sinal">Verificar log de verificação de sinal</option>
          <option onclick="getRegistraAlteracaoDados()" value="alteracao-dados">Verificar log de alteração de dados da cto</option>
          <option onclick="getRegistraDeletarCliente()" value="exclusao-cliente">Verificar log de exclusão de cliente</option>
        </select>
        <label class="m-2 ">Visualizar </label>
        <select id="qtds"class="m-2 bg-light text-white">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>

        </select>

      </p>
      </div>
    </div>
  </div>
  <div id="registros" class="row bg-light text-white">
    
  </div>
  <div class="d-flex justify-content-center mt-2">  <button id="anterior" class="btn btn-primary btn-sm col-sm-2 ">Voltar</button>
    <button id="proximo" class="btn btn-primary btn-sm col-sm-2 ">Avançar</button>
  </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/logPost.js' %}"></script>
    <script src="{% static 'js/logRegistraPost.js' %}"></script>
    <script src="{% static 'js/switch.js' %}"></script>

</body>
</html>